/* Gordita Static Fonts */

@font-face {
  font-family: 'Gordita';
  font-weight: normal;
  font-style: normal;
  src: 
      url('../fonts/gordita/Gordita-regular-subset.woff2') format('woff2'), 
      url('../fonts/gordita/Gordita-regular-subset.woff') format('woff');
  font-display: swap;
}

@font-face {
    font-family: 'Gordita';
    font-weight: normal;
    font-style: italic;
    src: 
        url('../fonts/gordita/Gordita-regular-italic-subset.woff2') format('woff2'), 
        url('../fonts/gordita/Gordita-regular-italic-subset.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Gordita';
    font-weight: bold;
    font-style: normal;
    src: 
        url('../fonts/gordita/Gordita-bold-subset.woff2') format('woff2'), 
        url('../fonts/gordita/Gordita-bold-subset.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Gordita';
    font-weight: bold;
    font-style: italic;
    src: 
        url('../fonts/gordita/Gordita-bold-italic-subset.woff2') format('woff2'), 
        url('../fonts/gordita/Gordita-bold-italic-subset.woff') format('woff');
    font-display: swap;
}

/* Extra weights & variants */

@font-face {
    font-family: 'Gordita';
    font-weight: 100;
    font-style: regular;
    src: 
        url('../fonts/gordita/Gordita-thin-subset.woff2') format('woff2'), 
        url('../fonts/gordita/Gordita/Gordita-thin-subset.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Gordita';
    font-weight: 100;
    font-style: italic;
    src: 
        url('../fonts/gordita/Gordita-thin-italic-subset.woff2') format('woff2'), 
        url('../fonts/gordita/Gordita-thin-italic-subset.woff') format('woff');
    font-display: swap;
}
              
@font-face {
    font-family: 'Gordita';
    font-weight: 200;
    font-style: regular;
    src: 
        url('../fonts/gordita/Gordita-light-subset.woff2') format('woff2'), 
        url('../fonts/gordita/Gordita-light-subset.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Gordita';
    font-weight: 200;
    font-style: italic;
    src: 
        url('../fonts/gordita/Gordita-light-italic-subset.woff2') format('woff2'), 
        url('../fonts/gordita/Gordita-light-italic-subset.woff') format('woff');
    font-display: swap;
}
              
@font-face {
    font-family: 'Gordita';
    font-weight: 500;
    font-style: regular;
    src: 
        url('../fonts/gordita/Gordita-medium-subset.woff2') format('woff2'), 
        url('../fonts/gordita/Gordita-medium-subset.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Gordita';
    font-weight: 500;
    font-style: italic;
    src: 
        url('../fonts/gordita/Gordita-medium-italic-subset.woff2') format('woff2'), 
        url('../fonts/gordita/Gordita-medium-italic-subset.woff') format('woff');
    font-display: swap;
}
              
@font-face {
    font-family: 'Gordita';
    font-weight: 800;
    font-style: regular;
    src: 
        url('../fonts/gordita/Gordita-black-subset.woff2') format('woff2'), 
        url('../fonts/gordita/Gordita-black-subset.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Gordita';
    font-weight: 800;
    font-style: italic;
    src: 
        url('../fonts/gordita/Gordita-black-italic-subset.woff2') format('woff2'), 
        url('../fonts/gordita/Gordita-black-italic-subset.woff') format('woff');
    font-display: swap;
}
              
@font-face {
    font-family: 'Gordita';
    font-weight: 900;
    font-style: regular;
    src: 
        url('../fonts/gordita/Gordita-ultra-subset.woff2') format('woff2'), 
        url('../fonts/gordita/Gordita-ultra-subset.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Gordita';
    font-weight: 900;
    font-style: italic;
    src: 
        url('../fonts/gordita/Gordita-ultra-italic-subset.woff2') format('woff2'), 
        url('../fonts/gordita/Gordita-ultra-italic-subset.woff') format('woff');
    font-display: swap;
}


/* Work Sans Static Fonts */

@font-face {
    font-family: 'Work Sans';
    font-weight: normal;
    font-style: normal;
    src: 
        url('../fonts/work-sans/WorkSans-Regular-subset.woff2') format('woff2'), 
        url('../fonts/work-sans/WorkSans-Regular-subset.woff') format('woff');
    font-display: swap;
    }
    
    @font-face {
        font-family: 'Work Sans';
        font-weight: normal;
        font-style: italic;
        src: 
            url('../fonts/work-sans/WorkSans-Italic-subset.woff2') format('woff2'), 
            url('../fonts/work-sans/WorkSans-Italic-subset.woff') format('woff');
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Work Sans';
        font-weight: bold;
        font-style: normal;
        src: 
            url('../fonts/work-sans/WorkSans-Bold-subset.woff2') format('woff2'), 
            url('../fonts/work-sans/WorkSans-Bold-subset.woff') format('woff');
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Work Sans';
        font-weight: bold;
        font-style: italic;
        src: 
            url('../fonts/work-sans/WorkSans-BoldItalic-subset.woff2') format('woff2'), 
            url('../fonts/work-sans/WorkSans-BoldItalic-subset.woff') format('woff');
        font-display: swap;
    }
    
  /* Poppins Static Fonts */
  
  @font-face {
    font-family: 'Poppins';
    font-weight: normal;
    font-style: normal;
    src: 
        url('../fonts/poppins/Poppins-Regular-subset.woff2') format('woff2'), 
        url('../fonts/poppins/Poppins-Regular-subset.woff') format('woff');
    font-display: swap;
    }
    
    @font-face {
        font-family: 'Poppins';
        font-weight: bold;
        font-style: normal;
        src: 
        url('../fonts/poppins/Poppins-Bold-subset.woff2') format('woff2'), 
        url('../fonts/poppins/Poppins-Bold-subset.woff') format('woff');
        font-display: swap;
    }
    
    @font-face {
      font-family: 'Poppins';
      font-weight: 500;
      font-style: normal;
      src: 
      url('../fonts/poppins/Poppins-Medium-subset.woff2') format('woff2'), 
      url('../fonts/poppins/Poppins-Medium-subset.woff') format('woff');
      font-display: swap;
  }
    
  @font-face {
    font-family: 'Poppins';
    font-weight: 600;
    font-style: normal;
    src: 
    url('../fonts/poppins/Poppins-SemiBold-subset.woff2') format('woff2'), 
    url('../fonts/poppins/Poppins-SemiBold-subset.woff') format('woff');
    font-display: swap;
  }
  
  